<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>Morse Reader</title>
</head>
<body>

    <h1 id="header">Morse code reader</h1>
    
    <div id="main">
        <div id="label">INPUT</div>
        <div id="morse"></div>
    </div>


    <script id="container">
        const morseBox =
            document.getElementById("morse");

        const eventSource =
            new EventSource("/stream");

        eventSource.onmessage = function(event) {
            morseBox.innerText += event.data;
        };
    </script>

</body>
</html>